<style>
ul {
    padding-left: 0;
    margin-left: 0;
    list-style-position: inside;
}

li {
    padding-left: 0;
    margin-left: 0;
    list-style-position: inside;
}

.navbar-nav {
    margin: -0.0% -0.0%;
}

.navbar {
    margin: -0.0% -0.0%;
}

/* nav li {
    float: left;
    margin: 0 0;
}

nav li a {
    padding: 8px;
    background-color:None
} */
/* nav
{
  font-family: 'Lato', sans-serif;
  color:grey;
  font-size: 40px;
  margin: 0px;
} */

</style>

<nav class="navbar navbar-dark bg-light ">
        <div class="wrapper"> 
        <h2>
            <ul class="nav navbar-nav">
                <li><a href="{{ '/' | prepend: site.baseurl }}">Home</a>
                <li><a href="{{ '/news' | prepend: site.baseurl }}">News</a>
                <li><a href="{{ '/publications' | prepend: site.baseurl }}">Publications</a>
                <!-- TODOs add a cv page -->
            </ul>
        </h2>
    </div>
</nav>